<%=
[
  {
    title: "<span class='pj-fancy-animation'>Polish-Japanese Institute of Information Technology</span>",
    date: '2008 – 2012',
    text: "Computer Science study at Polish-Japanese Institute of Information Technology, finished with Engineer's Degree."
  },         
].to_json
%>