@import 'components/common/common';

.work-section {
  @extend .two-cols-section;

  .item {
    margin-bottom: 40px;
  }

  .item-title {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }

  .item-date {
    font-size: 13px;
    vertical-align: text-top;
    color: $gray;
  }

  .item-subtitle {
    display: block;
    color: $orange;
    font-size: 14px;
    margin: 3px 0;
  }

  .item-body {
    line-height: 22px;
  }

  .pj-fancy-animation {
    @keyframes shine {
      to {
        background-position: 100% center;
      }
    }

    background-image: radial-gradient(
      circle closest-side,
      #f00 150%,
      #ddd 150%,
      #ddd 400%,
      #000 600%
    );
    background-size: 300% auto;

    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    &:hover {
       animation: shine 4s linear;
    }
  }
}
