@import 'components/common/common';

.skills-details-section {
  @extend .two-cols-section;
  padding-bottom: 50px;

  .header {
    text-align: center;
  }

  progress-bar {
    display: inline-block;
    height: 15px;
    width: 240px;
  }

  .skill-name {
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 28px;
  }

  .images {
    margin-top: 35px;
    text-align: center;
  }

  .image {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid $gray;
  }

  .back {
    cursor: pointer;
    display: block;
    width: 100px;
    height: 30px;
  }

  .projects {
    margin-top: -50px;
  }

  .project {
    margin-top: 100px;

    .icon {
      float: left;
      margin-right: 10px;
    }

    .project-title {
      font-size: 24px;
      line-height: 20px;
      font-weight: normal;
    }

    .project-link {
      margin-top: 10px;
      display: inline-block;
      text-decoration: none;
      color: $light_brown;
    }

    .project-description {
      margin-top: 7px;
    }
  }
}