.skills-details-section {
  @extend .two-cols-section;
  padding-bottom: 50px;

  .item-body {
    margin-top: 30px;
  }

  .header {
    text-align: center;
  }

  progress-bar {
    display: inline-block;
    height: 15px;
    width: 240px;
  }

  .skill-name {
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 28px;
  }

  .images {
    margin-top: 35px;
    text-align: center;
  }

  .image {
    display: inline-block;
    margin: 0 5px;
  }
}