@import 'components/common/common';

.skills-details-section {
  @extend .two-cols-section;
  padding-bottom: 50px;

  .header {
    text-align: center;
  }

  .skill-name {
    font-weight: normal;
    font-size: 28px;
    display: inline-block;
    padding: 0 10px 4px 10px;
    margin-bottom: 13px;
    border-bottom: 2px solid $green;
  }

  .skill-subtext {
    display: block;
    font-size: 8pt;
    color: $gray;
    margin-bottom: 10px;
  }

  .project-info {
    float: left;
    width: 50%;
    margin-bottom: 30px;
  }

  .images {
    width: 47%;
    float: right;
  }

  .image {
    float: right;
    margin: 0 0 5px 5px;
    border: 1px solid $gray;
    max-width: 100%;
  }

  @media screen and (max-width: 690px) {
    .project-info {
      width: 100%;
    }

    .images {
      float: left;
      width: 100%;
    }

    .image {
      float: left;
    }
  }

  .back {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    font-size: 18px;
  }

  .projects {
    margin-top: -50px;
  }

  .project {
    margin-top: 100px;
  }

  .icon {
    float: left;
    margin-right: 10px;
  }

  .project-title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: normal;
  }

  .project-link {
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    color: $light_brown;
  }

  .project-subtitle {
    color: $light_brown;
    display: block;
    margin-top: 5px;
  }

  .project-description {
    margin-top: 7px;

    a {
      color: $light_brown;
    }
  }
}