@import 'components/common/common';

.blog-article-section {
  .article {
    padding: 30px 0;
  }

  .article-title {
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    color: $black;
    padding-bottom: 8px;
  }

  .other-articles {
    float: right;
    padding: 15px;
    margin: 0 0 15px 15px;
    background-color: $light_gray;
    max-width: 220px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .article-content {
    line-height: 1.618;
    text-align: justify;
    font-size: 20px;

    p {
      margin-bottom: 20px;
    }

    img {
      display: block;
      margin: 0 auto;
      border: 1px solid $black;
      max-width: 100%;
    }

    pre {
      display: block;
      width: 100%;
      padding: 15px;
      overflow: auto;
      text-align: left;
      background-color: $light_gray;
      white-space: pre;
    }

    a {
      color: $green;
    }
  }

  .other-article {
    display: block;
    color: $brown;
    text-decoration: none;
    margin: 8px 0;

    &:hover {
      color: $green;
    }
  }

  .other-articles-title {
    font-size: 16px;
    color: $gray;
  }
}
