@import 'components/common/common';

.skills-section {
  @extend .two-cols-section;

  .fullstack-matrix {
    margin-top: 30px;
    float: left;
    width: 450px;
    height: 500px;
  }

  .layer, .icon {
    width: 150px;
    height: 130px;
  }

  .layer {
    cursor: pointer;
    background-color: $green;
    background-image: image-url('layer_bg_border.png');

    &:hover {
    background-color: $blue;
    }
  }


  .frontend { float: left; }
  .ios { float: right; }
  .backend { margin: 150px auto 0 auto; }
  .servers { margin: 70px auto 0 auto; }

  .frontend .icon { background-image: image-url('frontend.png'); }
  .ios .icon { background-image: image-url('ios.png'); }
  .backend .icon { background-image: image-url('backend.png'); }
  .servers .icon { background-image: image-url('servers.png'); }
}
