@import 'components/common/common';

.skills-section {
  @extend .two-cols-section;
}

.skills-matrix {
  margin-top: 50px;
  .item {
    @extend .two-cols;
    padding: 25px 0 25px 50px;
    cursor: pointer;
    background: image-url('arrow.png') 97% 50% no-repeat;
    &:hover {
      background-color: $light_gray;
    }
  }

  .skill-name {
    @extend .col-one;
    font-size: 20px;
  }

  .body {
    @extend .col-two;
    color: $gray;
  }

  .review-bar {
    @include border-radius(5px, 5px, 5px, 5px);
    overflow: hidden;
    width: 400px;
    height: 25px;
    background-color: $gray;
    margin-bottom: 5px;
    .complete {
      display: block;
      height: 100%;
      background-color: $green;
    }
  }
}