@import 'components/common/common';

.skills-section {
  @extend .two-cols-section;

  .item {
    cursor: pointer;
    background: image-url('arrow.png') 97% 50% no-repeat;
    &:hover {
      background-color: $light_gray;
    }
  }
}

.skills-matrix {
  margin-top: 50px;
  .item {
    @extend .two-cols;
    padding: 25px 0 25px 50px;
  }

  .skill-name {
    @extend .col-one;
    font-size: 20px;
  }

  .body {
    @extend .col-two;
    color: $gray;
  }
}