<%=
[
  {
    id: 'backend',
    name: 'Backend',
    subtext: 'Rspec, Sidekiq, OOP, Payments, OAuth, Permissions, DDD, File Proccessing, New Relic, Full Text Search, PDF generation, Social Media Integration, dry-rb, rubocop, Gem building',
    description: "I’ve been a professional backend developer since 2012, mostly working on Ruby on Rails apps. Experience in working with many Rails projects allows me to deeply understand strengths and weaknesses of each aspect of the framework as well as backend environment, and its challenges, in general.",
    projects: [
      {
        title: 'Selecthub',
        link: 'https://selecthub.com/',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        subtitle: 'All rights go to codequest',
        description: 'Due to very complicated domain rules and huge amount of use cases, working on Selecthub required <b>skills, discipline and knowledge</b> in building modular and well-designed software applications.\n\nKey features:\n• Handling massive codebase and complicated use cases\n• Granulated Authentication and Permissions system\n• Solving lots of optimisation problems',
        images: [
          s3_url('selecthub.jpg')
        ]
      },
      {
        title: 'Voyagin (part of Rakuten)',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        link: 'https://www.govoyagin.com',
        description: 'At Voyagin, tickets and activities booking platform, due to significantly big codebase, lots of data, lots of background jobs, payments handling and constant high traffic (<b>tens of thousands page views per day</b>), durability and maintainability was always a top priority.\n\nI practiced strict and careful code reviewing and general mid sized corporate procedures focusing on high availability of the product. We faced and solved many bigger apps backend challenges.\n\nKey features:\n• Handling significantly big codebase and complicated use cases\n• Solving lots of optimisation problems\n• Implementing backend for frontend features I was responsible for\n• Integrating with external services providing activities availability information',
        images: [
          s3_url('voyagin.jpg')
        ]
      },
      {
        title: 'Foap.com',
        link: 'https://foap.com/',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        subtitle: 'All rights go to App\'n\'Roll',
        description: 'At Foap I was a member of Rails Api dev team. At that time foap.com migration to Angular started, separating platform into Angular Frontend and pure api Rails Backend.\n\nKey features:\n• Pure api Rails application\n• Authentication and permissions\n• Image and video uploading and processing',
        images: [
          s3_url('foap.jpg')
        ]
      },
      {
        title: 'Survicate',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        link: 'https://survicate.com/',
        subtitle: 'All rights go to App\'n\'Roll',
        description: 'Surivicate is a page analytics and marketing campaign platform, heavily integrated with international advertisement and user tracking networks. I was responsible  for writing Ruby on Rails API powering customer admin panel, Survicates’s widgets and other Ads providers in the ad network\n\nKey features:\n• Rails API-only codebase\n• heavy and complicated integration with multiple data providers\n• API high performance requirements due to the survey widget',
        images: [
          s3_url('survicate.jpg')
        ]
      },
      {
        title: 'Massive E-Commerce Portal',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        subtitle: 'Due to NDA project details are confidential',
        description: 'Working on complex E-commerce applications changes the way you code. With sophisticated data model, huge codebase and maintainability as a requirement, <b>design, coding and testing</b> practices are very important. We followed all of them.\n\nThe project is live and doing great, unfortunately due to NDA I can\'t post it here. Great loss for my portfolio...\n\nKey features:\n• Handling sophisticated data model and business rules\n• Significant amount of logic as background tasks\n• Solving performance issues\n• Search functionality powered by ElasticSearch\n• Authentication and permissions\n\nRelated Blogposts:\n- <a href=\'/#/blog/what-kind-of-code-I-want-to-see-in-controllers\' target=\'_blank\'>What kind of code I want to see in Controllers</a>\n- <a href=\'/#/blog/only-one-valid-use-of-rails-default-scope\' target=\'_blank\'>The only one valid use of Rails default scope</a>',
        images: [
          s3_url('ecommerce-nda.jpg')
        ]
      },
      {
        title: 'Taptera Inc.',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        subtitle: 'All rights go to codequest',
        description: 'I was a member of RoR admin panel team. Due to sophisticated data model and general project complexity, working on Taptera product required solving challenging tasks.\n\nKey features:\n• Handling sophisticated data model\n• Uploading and processing files in background\n• Authentication and permissions',
        images: [
          s3_url('taptera.jpg')
        ]
      },
      {
        title: 'BuddyBroker',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        subtitle: 'All rights go to codequest',
        description: 'Buddybroker was one of my favourite project I was working on during my work at codequest. I had an opportunity to build and see consequenses of my decisions. I learned how important it is to design app architecture well.\n\nKey features:\n• Authentication and permissions\n• Image uploading and processing\n• Integration with LinkedIn and Xing\n• Integration with Buddybroker matching system\n• Building web crawlers\n• Rich integration with Frontend frameworks',
        images: [
          s3_url('buddybroker.jpg')
        ]
      },
      {
        title: 'Shards-of-Tokyo',
        link: 'https://www.shards-of-tokyo.jp/',
        icon: s3_url('page-artifacts/ruby-badge.jpg'),
        description: 'Shards-of-Tokyo is my recent, personal side project. A fully event-sourced and DDDed small e-commerce platform. SoT business and web handling-related logic are strictly separated. Web routing is written in Sinatra, while business logic is a rich set of POROs and integration gems.\n\nKey features:\n• Fully event-sourced, ddd architecture\n• Stripe, Paypal and Dotpay Payment gateways integration \n• Password-less login\n• <a href=\'https://twitter.com/j_niewczas/status/1084483644763164672\'>Alternative tech stack</a> - dry-rb, sequel, two dbs\n• i18n\n• .jp domain',
        images: [
          s3_url('shards-of-tokyo.jpg')
        ]
      },
      {
        title: 'Starboard - Git-based card managment tool',
        icon: s3_url('page-artifacts/reactjs-nodejs-badge.jpg'),
        link: 'https://github.com/kubenstein/starboard',
        description: '“Keep all aspects of a project in one place together! A card-based management tool that stores its data in a git repo.”\n\nI developed a Trello-like board managment tool, that, by using git as a db, allows keeping all non-programming project components in a same place as a source code.\n\nKey features:\n• EventSource architecture\n• Modular tech design\n• Websockets communication\n\nRelated Blogposts:\n- <a href=\'/#/blog/starboard-git-based-task-managment-tool\' target=\'_blank\'>Starboard - git-based task managment tool</a>\n- <a href=\'/#/blog/current-state-in-event-sourcing\' target=\'_blank\'>CurrentState in Event Sourcing</a>',
        images: [
          s3_url('starboard.jpg')
        ]
      },
      {
        title: 'ZielonyŻoliborz Landscape Association',
        link: 'http://zielonyzoliborz.org.pl/',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        description: 'ZielonyŻoliborz is a small webportal for a local, landscape architecture activist organisation. With common CMS functionalities, rich markdown-based articles engine and modular scss, this Rails-based page presents itself very well.\n\nKey features:\n• Full-page caching\n• Introduction of whole new ViewModel Layer\n• Extraction AdminPanel as Rails Engine\n\nRelated Blogposts:\n- <a href=\'/#/blog/rails-view-layer\' target=\'_blank\'>Introducing View Layer to Rails App</a>\n- <a href=\'/#/blog/mixing-view-functionality\' target=\'_blank\'>Mixing View Related Functionality</a>',
        images: [
          s3_url('zielony-zoliborz-rails.jpg')
        ]
      },
      {
        title: 'My own Gems and their Communities',
        link: 'https://rubygems.org/profiles/kubenstein',
        icon: s3_url('page-artifacts/ruby-badge.jpg'),
        description: 'I’m creator/maintainer of several ruby gems. I was creating ruby gems to solve a particular problem I had but after a while some gems start to have their own little communities with users and contributors from all around the world.\n\nKey features:\n• <a target=\'_blank\' href=\'https://github.com/kubenstein/middleman-simple-thumbnailer/pull/12#issuecomment-238166591\'>Maintaining good relation with contributors of my gems</a>\n• Build Ruby/Rails-specific gems\n• Build command line clients using Thor library',
        images: [
          s3_url('rubygems.jpg')
        ]
      },
      {
        title: 'Wakemydyno!',
        link: 'http://wakemydyno.com',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        description: 'Wakemydyno! is a little yet very useful Rails app that bypasses some limitations of Heroku platform.\n\n<a target=\'_blank\' href=\'https://twitter.com/pvh/status/596425877795176449?s=20\'>(I scored interview at Heroku thanks to this project!)</a>\n\nI have tons of sentiment for this site, so even though now, in my work, I lead millions of request per day projects, there will be always place for wakemydyno.com! on my website.\n\nRelated Blogposts:\n- <a href=\'/#/blog/running-web-background-worker-on-single-dyno\' target=\'_blank\'>Running Web/Background Worker on a single Dyno</a>',
        images: [
          s3_url('wakemydyno.jpg')
        ]
      },
    ],
  },
  {
    id: 'ios',
    name: 'iOS',
    subtext: 'CocoaPods, CoreData, InApp payments, AdHoc distribution, Provisioning Profiles, Crashlytics, SNS integration, GPS, Gyroscope',
    description: "I’ve been successfully developing big applications for big companies. At Mobica I used to work on apps from <b>financial, telecommunication and educational industries</b>. I used to travel to Hong Kong and was granted US B1 working visa because of my iOS skills.\\nAs a freelancer I prefer smaller in scope and faster in development apps.",
    projects: [
      {
        title: 'Apps at Mobica',
        icon: s3_url('empty-icon.jpg'),
        subtitle: "Due to NDA I can't post apps I worked on.",
        description: 'At Mobica I was developing apps from financial, telecommunication and educational market sectors. It was a great experience to work at corporate scale of codebase, requirements, security and all processes in general.\\n\\nKey features:\\n• Communication with backend using REST API\\n• Managing data using CoreData framework\\n• Custom, non-trivial UI\\n• QR code supports\\n• Huge codebase\\n• SNS Integration\\n• Push Notifications',
        images: [
          s3_url('mobica-nda.jpg')
        ]
      },
      {
        title: 'Apps at codequest',
        icon: s3_url('empty-icon.jpg'),
        subtitle: "Due to NDA I can't post apps I was working on.",
        description: 'At codequest, besides Ruby On Rails projects I was working also on iOS Apps. Some tasks required modifications both on the app and the backend side, which shows how good it is to have a fullstack developer.\n\nKey features:\n • Communication with backend using REST API\n • Managing data using CoreData framework\n • Configuring and Displaying notifications\n • Handling accelerometer\n • Handling GPS positioning\n • Facebook Integration',
        images: [
          s3_url('codequest-nda.jpg')
        ]
      },
      {
        title: 'PureRosary',
        icon: s3_url('pure-rosary-icon.png'),
        link: 'https://itunes.apple.com/pl/app/pure-rosary/id573623603?mt=8',
        description: '<i>\'PureRosary (Pro) is an extremely elegant and mystical variant of the well known Rosary. Developed by Sacrify in 2012, it provides a beautiful interface, making every prayer an unforgettable experience.\'</i>\n\nKey features:\n • Custom drawing and UI animations\n • i18n\n • Vibrations\n • \'Shake to Reset\'',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193160624'}
        ],
        images: [
          s3_url('pure-rosary1.jpg')
        ]
      },
      {
        title: 'PureRosaryLite',
        icon: s3_url('pure-rosary-lite-icon.png'),
        subtitle: 'Removed from AppStore in favour of PRO Version',
        description: '<i>\'PureRosary (Lite) is an extremely elegant and mystical variant of the well known Rosary. Developed by Sacrify in 2012, it provides a beautiful interface, making every prayer an unforgettable experience.\'</i>\n\nKey features:\n • Custom drawing and UI animations',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193160874'}
        ],
        images: [
          s3_url('pure-rosary-lite1.jpg')
        ]
      },
      {
        title: 'DrinkWater',
        icon: s3_url('drinkwater-icon.png'),
        link: 'https://itunes.apple.com/us/app/drinkwaterapp/id916242075?mt=8',
        description: '<i>\'DrinkWater is a small yet powerful app that helps you not to forget about drinking water everyday.\'</i>\n\nKey features:\n • Communication with backend using REST API\n • Custom drawing and UI animations \n • Form validation\n • Notifications\n • In-App Purchase',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193159289'}
        ],
        images: [
          s3_url('drinkwater1.jpg')
        ]
      },
      {
        title: 'EverydayFruit',
        icon: s3_url('everydayfruit-icon.png'),
        link: 'https://itunes.apple.com/us/app/everyday-fruit/id941637429?mt=8',
        description: 'App based on DrinkWater app, with different theme and slightly different logic.\\n\\nKey features:\n • Communication with backend using REST API\n • Custom drawing and UI animations \n • Form validation\n • Notifications\n • In-App Purchase',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193161049'}
        ],
        images: [
          s3_url('everydayfruit1.jpg')
        ]
      },
      {
        title: 'Bo3',
        icon: s3_url('bo3-icon.png'),
        link: 'https://itunes.apple.com/pl/app/bo3/id541245573?mt=8',
        subtitle: "All rights go to Wojciech Gwizdała",
        description: '<i>\'Bothree is the pentatonic instrument in which the sound is generated by vibrations of air (...)\'</i>\n\n\nKey features:\n• Custom drawing\n • Playing Sounds\n • Exporting to pdf and sending via email\n\nRelated Blogposts:\n- <a href=\'/#/blog/strategy-pattern-in-ios-app\' target=\'_blank\'>Strategy Pattern In an iOS app</a>',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193161423'}
        ],
        images: [
          s3_url('bo31.jpg'),
          s3_url('bo32.jpg')
        ]
      },
      {
        title: 'TickingMoney',
        icon: s3_url('ticking-money-icon.png'),
        subtitle: 'Removed from AppStore',
        description: '<i>\'TickingMoney is an app that lets you track your income as it grows every hour, minute and even second! (...)\'</i>\n\nTickingMoney was my very first personal app I built (2012). Besides interesting technical aspects, configuring submission, from buying Apple developer license, to generating and using provisioning profiles, was a challenge and a good learning experience.\n\nKey features:\n• Managing data using CoreData framework\n • Custom drawing \n • Form validation',
        images: [
          s3_url('ticking-money1.jpg'),
          s3_url('ticking-money2.jpg'),
          s3_url('ticking-money3.jpg'),
        ]
      },
      {
        title: 'Free Time Side Projects',
        icon: s3_url('space-maze-icon.png'),
        subtitle: "Unity3D on iOS",
        description: 'I like to experiment and test new ideas and technologies. Free time side projects are great opportunities to explore new possibilities.\n\nOne of my side project is Unity3d tunnel runner game. Even though Unity is a completely different environment compared to iOS or web development, I still follow the same rules of writing clean code.',
        videos: [
          {provider: 'vimeo', orientation: 'landscape', url: 'https://player.vimeo.com/video/193161705'}
        ],
        images: [
          s3_url('space-maze.jpg'),
        ]
      },
    ]
  },
  {
    id: 'frontend',
    name: 'Frontend',
    subtext: 'React, Redux, Vue, Webpack, Parcel, Team leading, CSS-modules, code splitting, babel plugins, ESLint, TS, i18n, SSR, Code Reviews, Design System',
    description: "As Senior Engineer my role is to build contribute and improve, durability, stability, predictability and scalability of big Frontend projects. With years of experience I have faced and overcame all sort of challenges bigger numbers league brings.",
    projects: [
      {
        title: 'Virtusize',
        icon: s3_url('page-artifacts/vuejs-badge.jpg'),
        link: 'https://www.virtusize.jp',
        description: 'At Virtusize, as a Senior Engineer, I’m supervising and leading tech side of several frontend projects. Our products are fully fledged Vue app integrated with pages of clients such as <a class=\'quiet\' target=\'_blank\' href=\'https://www.virtusize.jp/partners\'>Kate Spate, Balenciaga, United Arrows, Marui etc..</a>.\n(<a target=\'_blank\' href=\'https://vimeo.com/434972031\'>See product video</a>, <a target=\'_blank\' href=\'https://www.virtusize.jp/virtusize\'>See product page</a>)\n\n<b>We handle millions of requests / week</b>, so my main focus is on scalability, performance and maintainability (constant deliverability) of the whole setup.\n\n<b>I know how to build apps.</b>\n\nKey features:\n• Architecting products and leading implementation\n• Taking responsible for making tech decisions\n• Conducting strict code reviews, guarding code quality level at any stage of the app lifetime\n• Nourishing engineering culture in the team (coaching, leading and motivating)\n• Spotting potential threats early and planing mitigation strategies\n• Closely collaborating with CTO\n• Backing up my teammates when collaborating with other teams\n• Staying on call and handling emergencies\n• Delivering tons of features myself\n• Heavy on Vue/TS ecosystem',
        images: [
          s3_url('virtusize1.jpg'),
          s3_url('virtusize2.jpg'),
          s3_url('virtusize3.jpg')
        ]
      },
      {
        title: 'Voyagin (part of Rakuten)',
        icon: s3_url('page-artifacts/reactjs-badge.jpg'),
        link: 'https://www.govoyagin.com',
        description: '<i>Govoyagin.com</i> is the biggest and the most complicated React codebase I’ve been working on. With <b>tens of thousands page views per day</b> and whole Frontend rewritten in React-based, enterprise, industrial-scale codebase, everything we did had to be rock solid yet flexible for constantly arriving new business requirements. <b>Nearly all React Frontend have been built, reviewed, discussed or supported by me</b>. I learned what does true code review mean. Though as a member of dev team I give credits to all those fantastic people I work with everyday.\n\nGovoyagin was the 2 years period in which I grew to big scale, big league, true senior engineering mentality.\n\n<b>I know how to build apps.</b>\n\nKey features:\n• managing massive React code base\n• conducting strict yet efficient code reivews\n• implementing SSR\n• heavy code split\n• heavy redux state management\n• forms\n• access tokens\n• scalable css-modules\n• GTM\n• i18n\n• testing\n• AB testing\n• integrating payments\n• integrating sns\n• full responsiveness',
        images: [
          s3_url('voyagin1.jpg'),
          s3_url('voyagin2.jpg')
        ]
      },
      {
        title: 'Massive E-Commerce Portal',
        icon: s3_url('page-artifacts/css-badge.jpg'),
        subtitle: 'Due to NDA project details are confidential',
        description: 'As a lead of frontend, I was responsible for conducting development of Full Mobile-first Storefront and whole Admin panel of the project. Coded in <b>more than 10000 lines of SCSS</b>, backed by living style-guides, worked extremely well.\nManaging codebase that size, knowing new requirements will come, requires discipline, advanced tools, and flexible, well-thought technics.\n\n The project is live and doing great, unfortunately due to NDA I can\'t post it here. Great loss for my portfolio...\n\nKey features:\n• Leading development of massive css codebase\n• Design CSS as manageable, context-free components\n• Mobile-First\n• Use of living style-guides\n• UI transition from mobile to desktop with minimal (often non) use of JS\n• Automatically generated SVG sprites\n\nRelated Blogposts:\n- <a href=\'/#/blog/living-css-styleguides\' target=\'_blank\'>Living CSS styleguides</a>',
        images: [
          s3_url('ecommerce-nda.jpg')
        ]
      },
      {
        title: 'foap.com',
        link: "https://foap.com",
        subtitle: 'All rights goes to App\'n\'Roll',
        description: 'Foap is photos and videos sharing and crowd sourcing platform. I was a member of foap dev team during its relatively early stage, back in 2014. I was mostly responsible for backend tasks but due to dynamic product growth, I also implemented lots of general frontend features, bugfixes and maintenance tasks.\nThat tile the portal already had significant userbase so working for foap, using it and contributing to its growth was quite satisfying.',
        images: [
          s3_url('foap1.jpg'),
          s3_url('foap2.jpg')
        ]
      },
      {
        title: 'Lead the Reactoricus',
        icon: s3_url('page-artifacts/reactjs-nodejs-badge.jpg'),
        link: 'http://reactoricus.jakubniewczas.pl/',
        description: 'Lead the Reactoricus is an algorithmic game written in React and Unity3D. My goal was to combine those two technologies into a beautiful and entertaining project. Write step-by-step instructions for a robot. Create your own maps for other players to play!\n\nKey features:\n• writing React frontend, NodeJs backend, and C# Unity3d game.\n• writing algorithm editor in React with infinitely nested loops.\n• writing React/Unity3d communication api operating on tree structure (I had finally one, real case of reverting a tree - gogo whiteboard recruiters!)\n• capture screenshot of a map in the background for automatic map previews\n• store data in sql and images in cloudinary',
        images: [
          s3_url('lead-the-reactoricus.jpg'),
          s3_url('lead-the-reactoricus.gif')
        ]
      },
      {
        title: 'Survicate.com',
        icon: s3_url('page-artifacts/angularjs-badge.jpg'),
        link: "https://survicate.com/",
        subtitle: 'All rights goes to App\'n\'Roll',
        description: 'Surivicate is a page analytics and marketing campaign platform. Features I was responsible for were mostly related with integration with other analytics platforms.\n\nI was expanding survicate platform by implementing related admin panel pages and options followed by integrating them with our backend (which I was also responsible for writing).\n\nKey features:\n• Working on heavy Angular app\n• Implementing non-trivial forms and usecases\n• integrating 3rd party analytic services',
        images: [
          s3_url('survicate1.jpg'),
          s3_url('survicate2.jpg')
        ]
      },
      {
        title: 'Living CSS Style Guides',
        icon: s3_url('page-artifacts/css-badge.jpg'),
        subtitle: 'Due to NDA project details are confidential',
        description: 'Building and maintaining big css codebases requires discipline technics and tools if you want to  scale css well. By separating components from the main app you can design and craft independent and context-free components.\n\nThe project is live and doing great, unfortunately due to NDA I can\'t post it here. Great loss for my portfolio...\n\nKey features:\n• Ability to see components on one page\n• Living CSS Documentation\n• Great help during designing components (markup, naming, dependencies)\n\nRelated Blogposts:\n- <a href=\'/#/blog/living-css-styleguides\' target=\'_blank\'>Living CSS styleguides</a>',
        images: [
          s3_url('living-style-guide.jpg')
        ]
      },
      {
        title: 'Google Chrome Extensions',
        icon: s3_url('page-artifacts/reactjs-badge.jpg'),
        subtitle: 'Due to NDA project details are confidential',
        description: 'Sometimes, as part of a project ecosystem, companies want to build a supporting Google Chrome Extension. Depending on a scale and scope of such an extension, I write it in vanilla JS (no need for cross browsers compatibility concerns) or go full React/Vue. Main responsibilities of extensions are usually parsing data from pages and providing light UI as an alternative to normal web or mobile clients.\n\nKey features:\n• Configured and written in React/Redux\n• Page Data scrapping\n• Token-based authentication with Backend\n• Communication with Backend via REST api\n• Storing data in browser',
        images: [
          s3_url('chrome-extension-nda.jpg')
        ]
      },
      {
        title: 'Starboard - Git-based card managment tool',
        icon: s3_url('page-artifacts/reactjs-nodejs-badge.jpg'),
        link: 'https://github.com/kubenstein/starboard',
        description: '“Keep all aspects of a project in one place together! A card-based management tool that stores its data in a git repo.”\n\nI developed a Trello-like board managment tool, that, by using git as a db, allows keeping all non-programming project components in a same place as a source code.\n\nKey features:\n• EventSource architecture\n• React frontend\n• Modular tech design\n• Websockets communication\n\nRelated Blogposts:\n• <a href=\'/#/blog/starboard-git-based-task-managment-tool\' target=\'_blank\'>Starboard - git-based task managment tool</a>\n• <a href=\'/#/blog/current-state-in-event-sourcing\' target=\'_blank\'>CurrentState in Event Sourcing</a>',
        videos: [
          {provider: 'vimeo', orientation: 'landscape', url: 'https://player.vimeo.com/video/221797050'}
        ]
      },
      {
        title: 'cac.pl',
        icon: s3_url('page-artifacts/angularjs-badge.jpg'),
        link: "http://cac.pl",
        description: 'CAC Wzornictwo, a design agency, has been my client for many years. Among many projects I was responsible for reimplementing their website. It was a small project but very satisfying.\n\nWe, frontend devs, love working with beautiful designs.\n\nKey features:\n• Written in Angular\n• Written using node.js/gulp pipeline\n• Responsive design\n• Single page app with fullscreen splash image\n• Contact form\n• Parallax background Effect',
        images: [
          s3_url('cac.jpg')
        ]
      },
      {
        title: 'Wakemydyno! (created in 2012)',
        icon: s3_url('page-artifacts/ror-badge.jpg'),
        link: 'http://wakemydyno.com/',
        description: 'Wakemydyno! is a little yet very useful Rails app that bypasses some limitations of Heroku platform.\n\n<a target=\'_blank\' href=\'https://twitter.com/pvh/status/596425877795176449?s=20\'>(I scored interview at Heroku thanks to this project!)</a>\n\nI have tons of sentiment for this site, so even though now, in my work, I lead millions of request per day projects, there will be always place for wakemydyno.com! on my website.',
        images: [
          s3_url('wakemydyno.jpg')
        ]
      },
      {
        title: 'KonikPolski.pl (created in 2009)',
        subtitle: 'http://konikpolski.pl/ (Taken down in 2020 TT)\nAll rights go to LogicIT',
        description: 'It was so nice to see a 10-year-old website still operating. I solo created a fully-featured web portal with articles, galleries, comments, shop, google maps, search, login and admin panel for the Polish Horse Association.\n\nProject was part of my post internship employment at LogicIT company.\nGood old times, and a huge achievement!',
        images: [
          s3_url('konikpolski.jpg')
        ]
      }
    ]
  },
  {
    id: 'infrastructure',
    name: 'Infrastructure',
    subtext: 'AWS, Docker, Heroku, Continous Integration/Deployment, git, Github, maintainability, logs, bash scripts',
    description: "I use AWS platform daily, previously I was heavy on Heroku and its ecosystem. Usually I'm the one configuring all CI actions and workflows. I strongly push for readable bash scripts, cross linking to all necessary data needed to easily understand the whole setup.\\nI also usually set docker-based dev and deployment envs so <i>'We can still deploy/rollback even from Mom's computer, using 3g, during Christmas dinner.'</i>",
    projects: [
      {
        title: 'AWS',
        description: 'Majority of our apps are hosted on AWS, both frontend and backend. At Virtusize I’m mostly responsible for frontend so I configure S3, Cloudfront, domains, IAM user permissions and all sort of api keys. In my previous jobs I was also managing EC2s and logging.\n\nKey features:\n • Configurin S3, Cloudfront, domains, IAM user permissions and all sort of api keys.\n • Occasional managing of EC2',
        images: [
          s3_url('aws.jpg')
        ]
      },
      {
        title: 'Heroku',
        description: 'I’ve been using Heroku platform for more than 7 years now. In majority of companies I worked for we were using Heroku as a hosting platform.\\nI feel fluent and comfortable with Addons, Buildpacks, Slugs, DBs, Logging, Debugging and all sorts of applications management. In Voyagin we were using Private Spaces for additional layers of security.',
        images: [
          s3_url('heroku.jpg')
        ]
      },
      {
        title: 'Continuous Integration/Deployment',
        description: 'Usually I’m responsible for configuring CIs (CircleCI, SemaphoreCI, CodeshipIo, Travis) for clients I work for. Since those are external services I’m extremely strict when it comes to readability and maintainability of scripts and config files. <b>I have full confidence in my deployment workflows.</b>',
        images: [
          s3_url('ci-services.jpg')
        ]
      },
      {
        title: 'Everyday Development Environment',
        description: 'Managing external app dependencies during development can be a sophisticated and problematic task. I use docker-machine and docker-compose to dockerize Postgres, Redis, ElasticSearch, Memcache etc.\n\nKey features:\n • Simplify setup and managing of external dependencies',
        images: [
          s3_url('everyday-docker-development.jpg')
        ]
      },
      {
        title: 'Starbucket - building autoscaling, distributed Git server',
        link: 'https://github.com/kubenstein/starbucket',
        description: 'Git workflow became strictly client-server, which results in inability to deliver any feature when code Repository service is down. I built an elegant node tool that addresses this issue by bringing back a distributed aspect of Git.\n\nKey features:\n • Setup distributed, autoscaling git server in a local network\n\nRelated Blogposts:\n- <a href=\'/#/blog/starbucket-reintroduce-distributed-aspect-of-git\' target=\'_blank\'>Starbucket - reintroduce the \'distributed\' aspect of Git</a>\n- <a href=\'/#/blog/releasing-npm-module\' target=\'_blank\'>Releasing an NPM module</a>',
        images: [
          s3_url('starbucket.jpg')
        ]
      },
      {
        title: 'Serf-based Loadbalancing',
        link: 'https://github.com/kubenstein/docker-serf-haproxy-loadbalancing',
        description: 'Goal of this project was to create a web servers environment with fully dynamic loadbalancing. Working example of my multi-host setup can be found on Github.\n\nKey features:\n• Dynamic servers discovery\n• Dynamic binding to HAProxy loadbalancer\n• Fault tolerance of nodes based on supervisord deamon',
        images: [
          s3_url('docker-serf.jpg')
        ]
      },
      {
        title: 'Single Host Web App',
        link: 'https://github.com/kubenstein/docker-webserver-vps-setup',
        description: 'Goal of this project was to create simple VPS server configuration for my Rails and Node.js apps. Working example of single-host setup can be found on my Github.\n\nKey features:\n • Git push-based app container rebuilding\n• Postgres db\n• S3 backups\n\nRelated Blogposts:\n- <a href=\'/#/blog/why-do-we-write-functions\' target=\'_blank\'>Why do we write functions</a>',
        images: [
          s3_url('docker.jpg')
        ]
      },
      {
        title: 'Automated Build and Deploy toolchain',
        description: 'I like to wrap deployment pipelines in docker containers. No matter if its a git push to heroku, ansible script or sftp to shared apache server, I want to have deployments details hidden behind automated scripts, ready to be executed in a single command\n\nKey features:\n• Tools and steps of deployment process are containerized making deployments repeatable and reliable.',
        images: [
          s3_url('docker.jpg')
        ]
      }
    ]
  },
].to_json
%>
