<%=
[
  {
    id: 'ruby-on-rails',
    name: 'Ruby on Rails',
    subtext: 'Rspec, Sidekiq, OOP, Payments, OAuth, Permissions, DDD, File Proccessing, New Relic, Full Text Search, PDF generation, Social Media Integration, dry-rb, rubocop, Gem building',
    description: "I’ve been a professional Ruby on Rails developer for about 4 years now. Experience with working on many Rails projects allows me to deeply understand strengths and weaknesses of each aspect of the Framework.",
    projects: [
      {
        title: 'Selecthub',
        link: 'https://selecthub.com/',
        icon: s3_url('ror-badge.jpg'),
        subtitle: 'All rights go to codequest',
        description: 'Due to very complicated domain rules and use cases, working on Selecthub required <b>skills, discipline and knowledge</b> in building modular and well-designed software applications.\n\nKey features:\n- Handling massive codebase and complicated use cases\n- Authentication and permissions\n- Rich integration with frontend frameworks\n- Solving optimisation problems',
        images: [
          s3_url('selecthub.jpg')
        ]
      },
      {
        title: 'Foap AB',
        link: 'https://foap.com/',
        icon: s3_url('ror-badge.jpg'),
        subtitle: 'All rights go to App\'n\'Roll',
        description: 'I was part of a Foap Rails Api team. At that time foap.com migration to Angular started. The App was split into Angular Frontend and pure api Rails Backend.\n\nKey features:\n- Pure api Rails application\n- Authentication and permissions\n- Image uploading and processing',
        images: [
          s3_url('foap.jpg')
        ]
      },
      {
        title: 'Voyagin (part of Rakuten)',
        icon: s3_url('ror-badge.jpg'),
        link: 'https://www.govoyagin.com',
        description: 'Even tough at Voyagin I’m mostly responsible for frontend, I actively take part in reviewing, discussing solutions and coding particular features, so basically growing the platform as a whole.',
        images: [
          s3_url('voyagin.jpg')
        ]
      },
      {
        title: 'Survicate',
        icon: s3_url('ror-badge.jpg'),
        link: 'https://survicate.com/',
        subtitle: 'All rights go to App\'n\'Roll',
        description: 'Survicate is a context and user aware surveys platform, heavily integrated with international advertisement and user tracking networks. I was a member of a team responsible for writing Ruby on Rails API customer admin panel, Survicates’s widgets and other Ads providers in the ad network\\n\\nKey features:\\n- Rails API-only codebase\\n- heavy and complicated integration with multiple data providers\\n- aiming for API heigh performance due to the survey widget',
        images: [
          s3_url('survicate.jpg')
        ]
      },
      {
        title: 'Massive E-Commerce Portal',
        icon: s3_url('ror-badge.jpg'),
        subtitle: 'Due to NDA project details are confidential',
        description: 'Working on complex E-commerce applications changes the way you code. With sophisticated data model, huge codebase and future maintainability as a requirement, <b>design, coding and testing</b> practices are very important. We followed all of them.\n\nKey features:\n- Handling sophisticated data model and business rules\n- Significant amount of logic as background tasks\n- Solving performance issues\n- Search functionality backed by ElasticSearch\n- Authentication and permissions\n\nRelated Blogposts:\n- <a href=\'/#/blog/what-kind-of-code-I-want-to-see-in-controllers\' target=\'_blank\'>What kind of code I want to see in Controllers</a>\n- <a href=\'/#/blog/only-one-valid-use-of-rails-default-scope\' target=\'_blank\'>The only one valid use of Rails default scope</a>',
        images: [
          s3_url('ecommerce-nda.jpg')
        ]
      },
      {
        title: 'Taptera Inc.',
        icon: s3_url('ror-badge.jpg'),
        subtitle: 'All rights go to codequest',
        description: 'I was a member of RoR admin panel team. Due to sophisticated data model and general project complexity, working on Taptera product required solving challenging tasks.\n\nKey features:\n- Handling sophisticated data model\n- Uploading and processing files in background\n- Authentication and permissions',
        images: [
          s3_url('taptera.jpg')
        ]
      },
      {
        title: 'BuddyBroker',
        icon: s3_url('ror-badge.jpg'),
        subtitle: 'All rights go to codequest',
        description: 'Buddybroker was my favourite project I was working on during my work at codequest. I had the opportunity to build and see strengths and weaknesses of my decisions. I learnt how important it is to design app architecture well.\n\nKey features:\n- Authentication and permissions\n- Image uploading and processing\n- Integration with LinkedIn and Xing\n- Integration with Buddybroker matching system\n- Building web crawlers\n- Rich integration with Frontend frameworks',
        images: [
          s3_url('buddybroker.jpg')
        ]
      },
      {
        title: 'Shards-of-Tokyo',
        link: 'https://www.shards-of-tokyo.jp/',
        icon: s3_url('ruby-badge.jpg'),
        description: 'Shards-of-Tokyo is my recent, personal side project, a fully event-sourced and DDDed small e-commerce platform. SoT business and web handling-related logic are strictly separated. Web routing is written in Sinatra, while business logic is a rich set of POROs and integration gems.\\n\\nKey features:\\n- Fully event-source, ddd architecture\\n- Stripe, Paypal and Dotpay integration \\n- Password-less login\\n- <a href=\'https://twitter.com/j_niewczas/status/1084483644763164672\'>Alternative tech stack</a> - dry-rb, sequel, two dbs\\n- i18n\\n- .jp domain',
        images: [
          s3_url('shards-of-tokyo.jpg')
        ]
      },
      {
        title: 'Starboard - Git-based card managment tool',
        icon: s3_url('reactjs-nodejs-badge.jpg'),
        link: 'https://github.com/kubenstein/starboard',
        description: '“Keep all aspects of a project in one place together! A card-based management tool that stores its data in a git repo.”\n\nI developed a card board managment tool, that by using git as a db, allows to keep all non-programming project components in same place as a source code.\n\nKey features:\n- EventSource architecture\n- React frontend\n- Modular design\n- Git-based db\n- Websockets communication\n\nRelated Blogposts:\n- <a href=\'/#/blog/starboard-git-based-task-managment-tool\' target=\'_blank\'>Starboard - git-based task managment tool</a>\n- <a href=\'/#/blog/current-state-in-event-sourcing\' target=\'_blank\'>CurrentState in Event Sourcing</a>',
        images: [
          s3_url('starboard.jpg')
        ]
      },
      {
        title: 'Aleksandra Kuls Website',
        icon: s3_url('middleman-badge.jpg'),
        link: 'http://aleksandrakuls.com/',
        description: 'With unique technical design of full separation of Domain logic from presentation layer, this simple website contains advanced DDD philosophy and techniques. With strong OOP desires I TDDed the whole creation process of the website.\n\nThe Project is available on <a href=\'https://github.com/kubenstein/aleksandrakuls.com\' target=\'_blank\'>Github</a>.\n\nKey features:\n- Full separation of Domain logic from presentation layer \n- Applying TDD practices all way long \n- Integration with Middleman Static Page\n- MongoDB integration\n- PhantomJS feature specs\n\nRelated Blogposts:\n- <a href=\'/#/blog/ddd-middleman-as-view-plugin\' target=\'_blank\'>DDD and Middleman as a Just a View Plugin</a>\n- <a href=\'/#/blog/static-middleman-page-dynamic-react-admin-panel-and-heroku-redeployments\' target=\'_blank\'>React Admin Panel and Heroku Redeployments</a>\n- <a href=\'/#/blog/node-development-console\' target=\'_blank\'>Development Console for Node apps</a>\n- <a href=\'/#/blog/redux-thunk-and-why-i-dont-use-it\' target=\'_blank\'>Redux Thunk and why I don\'t use it anymore</a>',
        images: [
          s3_url('aleksandrakuls-ddd.jpg')
        ]
      },
      {
        title: 'DrinkWaterApp Api',
        link: 'http://drinkwaterapp.info/',
        icon: s3_url('hanami-badge.jpg'),
        description: 'Important feature of iOS DrinkWaterApp was making donations. After donating, users can add their name to the donors list. Adding and displaying donors is the responsibility of API server. Since functionality is really tiny, I used Hanami as a backend framework.\n\nKey features: \n- Written in Hanami',
        images: [
          s3_url('drinkwaterapp-api.jpg')
        ]
      },
      {
        title: 'ZielonyŻoliborz Landscape Association',
        link: 'http://zielonyzoliborz.org.pl/',
        icon: s3_url('ror-badge.jpg'),
        description: 'ZielonyŻoliborz is a website for a local, landscape architecture activist organisation. With common CMS functionalities, rich markdown-based articles engine and modular scss, the page presents itself very well.\n\nKey features:\n- Full-page caching (with smart invalidation)\n- Introduction of whole new ViewModel Layer\n- Extraction AdminPanel as Rails Engine\n\nRelated Blogposts:\n- <a href=\'/#/blog/rails-view-layer\' target=\'_blank\'>Introducing View Layer to Rails App</a>\n- <a href=\'/#/blog/mixing-view-functionality\' target=\'_blank\'>Mixing View Related Functionality</a>',
        images: [
          s3_url('zielony-zoliborz-rails.jpg')
        ]
      },
      {
        title: 'My own Gems and their Communities',
        link: 'https://rubygems.org/profiles/kubenstein',
        description: 'I’m creator/maintainer of many ruby gems. Reason to create a gem usually was to solve a particular problem I had. After a while some gems start to have their own communities with users and contributors from all around the world.\n\nKey features:\n- <a target=\'_blank\' href=\'https://github.com/kubenstein/middleman-simple-thumbnailer/pull/12#issuecomment-238166591\'>Maintaining good relation with contributors of my gems</a>\n- Build Ruby/Rails-specific gems\n- Build command line clients using Thor library',
        images: [
          s3_url('rubygems.jpg')
        ]
      },
      {
        title: 'Vatus.pl',
        link: 'http://vatus.pl',
        icon: s3_url('ror-badge.jpg'),
        description: 'Fast, clean and quick Rails project for an Accounting Company. Whole frontend, for both main page and admin panel is written in Angular. Rails part is narrowed to providing RESTful API.\n\nKey features: \n- Api only Rails App\n- Bundling frontend dependencies via rails-assets.org',
        images: [
          s3_url('vatus.jpg')
        ]
      },
      {
        title: 'Wakemydyno!',
        link: 'http://wakemydyno.com',
        icon: s3_url('ror-badge.jpg'),
        description: 'Wakemydyno! is a little yet very useful Rails app that bypasses some limitations of Heroku platform. Its main responsibility is to run background jobs periodically. See friendly twitter <a target=\'blank\' href=\'https://twitter.com/wakemydyno/status/596356103224619009\'>conversation with Heroku employee</a>.\n\nThe Project is available on <a href=\'https://github.com/kubenstein/wakemydyno.com\' target=\'_blank\'>Github</a>.\n\nKey features:\n- Service Objects Layering Architecture \n\nRelated Blogposts:\n- <a href=\'/#/blog/running-web-background-worker-on-single-dyno\' target=\'_blank\'>Running Web/Background Worker on a single Dyno</a>',
        images: [
          s3_url('wakemydyno.jpg')
        ]
      },
    ],
  },
  {
    id: 'ios',
    name: 'iOS',
    subtext: 'CocoaPods, CoreData, InApp payments, AdHoc distribution, Provisioning Profiles, Crashlytics',
    description: "By applying OOP practises and good understanding of the platform, I’ve been successfully working on big applications for big companies as well as smaller apps as a freelancer.",
    projects: [
      {
        title: 'Apps at Mobica',
        icon: s3_url('empty-icon.jpg'),
        subtitle: "Due to NDA I can't post apps I worked on.",
        description: 'At Mobica I used to be part of the teams that work on apps from different market sectors. I was working on Banking and E-learning platforms.\n\nKey features:\n- Communication with backend using REST API\n- Managing data using CoreData framework\n- Custom, non-trivial UI',
        images: [
          s3_url('mobica-nda.jpg')
        ]
      },
      {
        title: 'Apps at codequest',
        icon: s3_url('empty-icon.jpg'),
        subtitle: "Due to NDA I can't post apps I was working on.",
        description: 'At codequest, besides Ruby On Rails projects I was working also on iOS Apps. Some tasks required modifications both on the app and the backend side, which shows how good it is to have a fullstack developer.\n\nKey features:\n - Communication with backend using REST API\n - Managing data using CoreData framework\n - Configuring and Displaying notifications\n - Handling accelerometer\n - Handling GPS positioning\n - Facebook Integration',
        images: [
          s3_url('codequest-nda.jpg')
        ]
      },
      {
        title: 'PureRosary',
        icon: s3_url('pure-rosary-icon.png'),
        link: 'https://itunes.apple.com/pl/app/pure-rosary/id573623603?mt=8',
        description: '<i>\'PureRosary (Pro) is an extremely elegant and mystical variant of the well known Rosary. Developed by Sacrify in 2012, it provides a beautiful interface, making every prayer an unforgettable experience.\'</i>\n\nKey features:\n - Custom drawing and UI animations\n - i18n\n - Vibrations\n - \'Shake to Reset\'',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193160624'}
        ],
        images: [
          s3_url('pure-rosary1.jpg')
        ]
      },
      {
        title: 'PureRosaryLite',
        icon: s3_url('pure-rosary-lite-icon.png'),
        subtitle: 'Removed from AppStore in favour of PRO Version',
        description: '<i>\'PureRosary (Lite) is an extremely elegant and mystical variant of the well known Rosary. Developed by Sacrify in 2012, it provides a beautiful interface, making every prayer an unforgettable experience.\'</i>\n\nKey features:\n - Custom drawing and UI animations',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193160874'}
        ],
        images: [
          s3_url('pure-rosary-lite1.jpg')
        ]
      },
      {
        title: 'DrinkWater',
        icon: s3_url('drinkwater-icon.png'),
        link: 'https://itunes.apple.com/us/app/drinkwaterapp/id916242075?mt=8',
        description: '<i>\'DrinkWater is a small yet powerful app that helps you not to forget about drinking water everyday.\'</i>\n\nKey features:\n - Communication with backend using REST API\n - Custom drawing and UI animations \n - Form validation\n - Notifications\n - In-App Purchase',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193159289'}
        ],
        images: [
          s3_url('drinkwater1.jpg')
        ]
      },
      {
        title: 'EverydayFruit',
        icon: s3_url('everydayfruit-icon.png'),
        link: 'https://itunes.apple.com/us/app/everyday-fruit/id941637429?mt=8',
        description: 'App based on DrinkWater app, with different theme and slightly different logic.',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193161049'}
        ],
        images: [
          s3_url('everydayfruit1.jpg')
        ]
      },
      {
        title: 'Bo3',
        icon: s3_url('bo3-icon.png'),
        link: 'https://itunes.apple.com/pl/app/bo3/id541245573?mt=8',
        subtitle: "All rights go to Wojciech Gwizdała",
        description: '<i>\'Bothree is the pentatonic instrument in which the sound is generated by vibrations of air (...)\'</i>\n\n\nKey features:\n- Custom drawing\n - Playing Sounds\n - Exporting to pdf and sending via email\n\nRelated Blogposts:\n- <a href=\'/#/blog/strategy-pattern-in-ios-app\' target=\'_blank\'>Strategy Pattern In an iOS app</a>',
        videos: [
          {provider: 'vimeo', orientation: 'portrait', url: 'https://player.vimeo.com/video/193161423'}
        ],
        images: [
          s3_url('bo31.jpg'),
          s3_url('bo32.jpg')
        ]
      },
      {
        title: 'TickingMoney',
        icon: s3_url('ticking-money-icon.png'),
        link: 'https://itunes.apple.com/pl/app/tickingmoney/id530661327?mt=8',
        description: '<i>\'TickingMoney is an app that lets you track your income as it grows every hour, minute and even second! (...)\'</i>\n\nKey features:\n- Managing data using CoreData framework\n - Custom drawing \n - Form validation',
        images: [
          s3_url('ticking-money1.jpg'),
          s3_url('ticking-money2.jpg'),
          s3_url('ticking-money3.jpg'),
        ]
      },
      {
        title: 'Free Time Side Projects',
        icon: s3_url('space-maze-icon.png'),
        subtitle: "Unity3D on iOS",
        description: 'I like to experiment and test new ideas and technologies. Free time side projects are great opportunities to explore new possibilities and sharpen programming skills.\n\nOne of my side project is Unity3d tunnel runner game. Even though Unity is a completely different environment compared to iOS or web development, I still follow the same rules of writing clean code.',
        videos: [
          {provider: 'vimeo', orientation: 'landscape', url: 'https://player.vimeo.com/video/193161705'}
        ],
        images: [
          s3_url('space-maze.jpg'),
        ]
      },
    ]
  },
  {
    id: 'frontend',
    name: 'Frontend',
    subtext: 'React, Redux, Webpack, CSS-modules, code splitting, babel plugins, ESLint, Middleman, i18n',
    description: "I’m comfortable with building scalable, sophisticated React apps, with non-trivial business logic, code splitting, css-modules, performance challenges and interesting look’n’feel. With experience in React and pre-react technologies I just truly enjoy frontend!",
    projects: [
      {
        title: 'Voyagin (part of Rakuten)',
        icon: s3_url('reactjs-badge.jpg'),
        link: 'https://www.govoyagin.com',
        description: 'govoyagin.com is the biggest and the most complicated React codebase I’ve been working on. With <b>tens of thousands page views per day</b> and nearly whole Frontend written in React, enterprise, industrial-scale codebase we build has to be rock solid yet flexible for constantly arriving new business requirements. Nearly all React Frontend is build, reviewed, discussed or supported by me in any other way. Though as a member of whole team I give credits to all those fantastic people I work with everyday.\\n\\nKey features:\\n- managing massive React code base\\n- using industrial scale solutions like Redux, reselect, react-redux-form\\n- heavy responsive UI\\n- code splitting\\n- SSR\\n- css-modules and post-css babel plugins as a styling solutions\\n- i18n\\n- AB testing in-house solutions',
        images: [
          s3_url('voyagin.jpg')
        ]
      },
      {
        title: 'Massive E-Commerce Portal',
        icon: s3_url('css-badge.jpg'),
        subtitle: 'Due to NDA project details are confidential',
        description: 'My biggest and most advanced styling project. Full Mobile-first Storefront and whole Admin panel, coded in <b>more than 10000 lines of SCSS code</b>. Managing codebase that size, knowing new requirements will come, requires proper discipline, more advanced tools, and flexible technics.  \n\nKey features:\n- Design CSS as manageable, context-free components\n- Mobile-First\n- Extensive use of Flexbox\n- Use of living styleguides\n- UI transition from mobile to desktop with minimal (often non) use of JS\n- Automatically generated SVG sprites\n\nRelated Blogposts:\n- <a href=\'/#/blog/living-css-styleguides\' target=\'_blank\'>Living CSS styleguides</a>',
        images: [
          s3_url('ecommerce-nda.jpg')
        ]
      },
      {
        title: 'Living CSS Style Guides',
        icon: s3_url('css-badge.jpg'),
        subtitle: 'Due to NDA project details are confidential',
        description: 'Building and maintaining big css codebases requires tools and technics to scale css well and track regression. TDDing css by styling style guides first, lets you design and craft independent and context-free components.\n\nKey features:\n- Ability to see most components on one page\n- Living CSS Documentation\n- Great help during designing components (markup, naming, dependencies)\n\nRelated Blogposts:\n- <a href=\'/#/blog/living-css-styleguides\' target=\'_blank\'>Living CSS styleguides</a>',
        images: [
          s3_url('living-style-guide.jpg')
        ]
      },
      {
        title: 'Starboard - Git-based card managment tool',
        icon: s3_url('reactjs-nodejs-badge.jpg'),
        description: '“Keep all aspects of a project in one place together! A card-based management tool that stores its data in a git repo.”\n\nI developed a card board managment tool, that by using git as a db, allows to keep all non-programming project components in same place as a source code.\n\nProject code is available on <a href=\'https://github.com/kubenstein/starboard\' target=\'_blank\'>Github</a>.\n\nKey features:\n- EventSource architecture\n- React frontend\n- Modular design\n- Websockets communication\n\nRelated Blogposts:\n- <a href=\'/#/blog/starboard-git-based-task-managment-tool\' target=\'_blank\'>Starboard - git-based task managment tool</a>\n- <a href=\'/#/blog/current-state-in-event-sourcing\' target=\'_blank\'>CurrentState in Event Sourcing</a>',
        images: [
          s3_url('starboard.jpg')
        ]
      },
      {
        title: 'cac.pl',
        icon: s3_url('angularjs-badge.jpg'),
        link: "http://cac.pl",
        description: 'CAC Wzornictwo has been my client for many years. Recently we finished redesigning their own website.\n\nKey features:\n- Written in Angular\n- Written using node.js/gulp pipeline\n- Responsive design\n- Single page app with fullscreen splash image\n- Contact form\n- Parallax background Effect',
        images: [
          s3_url('cac.jpg')
        ]
      },
      {
        title: 'Plant Calculator - Common Energy',
        icon: s3_url('reactjs-badge.jpg'),
        link: 'http://cim-mes.com.pl/plant-selector',
        description: 'Plant Calculator is a simple yet very useful and powerful tool for filtering and calculating proper characteristics of plants in any given geo-environmental region of Europe. Crafted for CIM-mes Projekt sp. z o.o. as a part of CommONEnergy EU research program.\n\nKey features:\n- Nontrivial business logic encapsulated in several service/repository objects\n- Innovative use of images as a layered db\n- Written in React\n\nRelated Blogposts:\n- <a href=\'/#/blog/storing-map-data-as-image\' target=\'_blank\'>Storing Map data as an Image</a>',
        images: [
          s3_url('plant-calculator-cimmes.jpg')
        ]
      },
      {
        title: 'Aleksandra Kuls Admin',
        icon: s3_url('reactjs-nodejs-badge.jpg'),
        description: 'Aleksandra Kuls’s static website requires rare but frequent updates. To make the process easier I developed an admin panel to manage resources and schedule redeployments. The Admin Panel is a fully featured <b>React-Redux</b> WebApp powered by a nodejs-based backed server. Part of the app uses websockets technology to make UX even better.\n\nThe Project is available on <a href=\'https://github.com/kubenstein/aleksandrakuls.com-admin\' target=\'_blank\'>Github</a>.\n\nKey Frontend features:\n- Written in React-Redux\n- REST Backend integration\n- Using Socket.io web socket library\n\nKey Backend features:\n- Written in Express\n- MongoDB integration\n- Using Socket.io web socket library\n- Git Heroku redeployment using nodegit library\n\nRelated Blogposts:\n- <a href=\'/#/blog/ddd-middleman-as-view-plugin\' target=\'_blank\'>DDD and Middleman as a Just a View Plugin</a>\n- <a href=\'/#/blog/static-middleman-page-dynamic-react-admin-panel-and-heroku-redeployments\' target=\'_blank\'>React Admin Panel and Heroku Redeployments</a>\n- <a href=\'/#/blog/node-development-console\' target=\'_blank\'>Development Console for Node apps</a>\n- <a href=\'/#/blog/redux-thunk-and-why-i-dont-use-it\' target=\'_blank\'>Redux Thunk and why I don\'t use it anymore</a>',
        images: [
          s3_url('aleksandrakuls-admin.jpg')
        ]
      },
      {
        title: 'My Homepage',
        icon: s3_url('angularjs-badge.jpg'),
        link: 'http://jakubniewczas.pl',
        description: 'My own website and a digital CV. Please feel free to contact me at: niewczas.jakub@gmail.com\n\nKey features:\n- Written in Angular\n- Fractal components/file architecture\n- Communication to (static) backend done via json files\n- i18n\n - Responsive design\n - <a href=\'/#/blog\' target=\'_blank\'>Blog Module</a>\n - Markdown integration and Code Highlighting',
        images: [
          s3_url('jakubniewczas.jpg')
        ]
      },
      {
        title: 'Google Chrome Extension',
        icon: s3_url('reactjs-badge.jpg'),
        subtitle: 'Due to NDA project details are confidential',
        description: 'Part of one project I was working on was to build a Google Chrome Extension. I wrote an initial prototype in vanilla JS, which later on I rewrote to React/Redux. Main responsibility of the extension was to prefill forms with scrapped data from visited page.\n\nKey features:\n- Configured and written in React/Redux\n- Page Data scrapping\n- Token-based authentication with Backend\n- Communication with Backend via REST api\n- Storing data in Browser',
        images: [
          s3_url('chrome-extension-nda.jpg')
        ]
      },
      {
        title: 'ZielonyŻoliborz Landscape Association',
        link: 'http://zielonyzoliborz.org.pl/',
        description: 'ZielonyŻoliborz is a website for a local, landscape architecture activist organisation. With common CMS functionalities, rich markdown-based articles engine and modular scss, the page presents itself very well.',
        images: [
          s3_url('zielony-zoliborz.jpg')
        ]
      },
      {
        title: 'Vatus.pl Admin panel',
        icon: s3_url('angularjs-badge.jpg'),
        description: 'An admin panel that allows owners of the page to manage content at vatus.pl. \n\nKey features:\n- Written in Angular\n- Token-based authentication\n- Communication with backend using Restangular library\n- Image upload (done by serialising an image to base64-encoded string)',
        images: [
          s3_url('vatus-admin.jpg')
        ]
      },
      {
        title: 'Wakemydyno!',
        link: 'http://wakemydyno.com/',
        description: 'Wakemydyno! is a little yet very useful Rails app that bypasses some limitations of Heroku platform.\n\nThe Project is available on <a href=\'https://github.com/kubenstein/wakemydyno.com\' target=\'_blank\'>Github</a>.\n\nKey features:\n- Single Page App\n- Delicate jQuery tweaking',
        images: [
          s3_url('wakemydyno.jpg')
        ]
      },
      {
        title: 'Discover Warsaw',
        link: 'http://discoverwarsaw-com-pl.herokuapp.com/',
        description: 'Discoverwarsaw.com.pl is the homepage of tour guide Wojciech Gmur.\n\nKey Features:\n- Static page built using Middleman\n- Flexible i18n even though the page is a static site\n- Random picture gallery',
        images: [
          s3_url('discoverwarsaw.jpg')
        ]
      },
      {
        title: 'DrinkMoreWater',
        link: 'http://drinkwaterapp.info/',
        description: 'Landing page for one of my iOS apps.\n\nKey features:\n- Fullscreen splash image\n- Scroll detection\n- Responsive design',
        images: [
          s3_url('drinkwaterapp.jpg')
        ]
      },
      {
        title: 'KonikPolski.pl (created in 2009)',
        link: 'http://konikpolski.pl/',
        subtitle: 'All rights go to LogicIT',
        description: 'It is so nice to see a 10-year-old website still operating. I created a fully-featured web portal with articles, galleries, comments, shop, google maps, login and admin for the Polish Horse Association. Project was part of cooperation with LogicIT company. All written in basic CSS. Good old times...',
        images: [
          s3_url('konikpolski.jpg')
        ]
      }
    ]
  },
  {
    id: 'infrastructure',
    name: 'Infrastructure',
    subtext: 'VPS, Docker, Heroku, Continous Integration/Deployment, git',
    description: "I have experience in working with Heroku, Docker, SemaphoreCI, Codeship etc. platforms, configuring them into automate testing and deployment pipelines.",
    projects: [
      {
        title: 'Configuring and Working with Continuous Integration/Deployment Services',
        description: 'I have experience working with and configuring <b>SemaphoreCI</b> and <b>CodeshipCI</b> for clients I was working for. Additionally most of my Github open source projects <a target=\'_blank\' href=\'https://travis-ci.org/kubenstein\'>are tested using TravisCI</a> platform.',
        images: [
          s3_url('ci-services.jpg')
        ]
      },
      {
        title: 'Hosting apps on Heroku',
        description: 'I’ve been using Heroku platform for more than 7 years now. I feel comfortable with Addons, Buildpacks, Slugs, Logging, Debugging and all sorts of applications management. Both Common and Private spaces.',
        images: [
          s3_url('heroku.jpg')
        ]
      },
      {
        title: 'Configuring AWS products',
        description: 'Most of the time usage of AWS is narrowed to file hosting S3 services. Aspects like permissions and api keys need to be configured, however, provisioning EC2 for some specific use cases is also required from time to time.\n\nKey features:\n- Working AWS IAM, S3 buckets, Cloudfront and EC2s',
        images: [
          s3_url('aws.jpg')
        ]
      },
      {
        title: 'Everyday Development Environment',
        description: 'Managing external app dependencies during development can be a sophisticated and problematic task. I use docker-machine and docker-compose to dockerize Postgres, Redis, ElasticSearch, Memcache etc.\n\nKey features:\n- Simplify setup and managing of external dependencies',
        images: [
          s3_url('everyday-docker-development.jpg')
        ]
      },
      {
        title: 'Starbucket - building autoscaling, distributed Git server',
        link: 'https://github.com/kubenstein/starbucket',
        description: 'Git workflow became strictly client-server, which results in inability to deliver any feature when code Repository service is down. I built an elegant node tool that addresses this issue by bringing back a distributed aspect of Git.\n\nKey features:\n- Setup distributed, autoscaling git server in a local network\n\nRelated Blogposts:\n- <a href=\'/#/blog/starbucket-reintroduce-distributed-aspect-of-git\' target=\'_blank\'>Starbucket - reintroduce the \'distributed\' aspect of Git</a>\n- <a href=\'/#/blog/releasing-npm-module\' target=\'_blank\'>Releasing an NPM module</a>',
        images: [
          s3_url('starbucket.jpg')
        ]
      },
      {
        title: 'Serf-based Loadbalancing',
        link: 'https://github.com/kubenstein/docker-serf-haproxy-loadbalancing',
        description: 'Goal of this project was to create a web servers environment with fully dynamic loadbalancing. Working example of my multi-host setup can be found on Github.\n\nKey features:\n- Dynamic servers discovery\n- Dynamic binding to HAProxy loadbalancer\n- Fault tolerance of nodes based on supervisord deamon',
        images: [
          s3_url('docker-serf.jpg')
        ]
      },
      {
        title: 'Single Host Web App',
        link: 'https://github.com/kubenstein/docker-webserver-vps-setup',
        description: 'Goal of this project was to create simple VPS server configuration for my Rails and Node.js apps. Working example and backbone of single-host setup can be found on Github.\n\nKey features:\n- Git push-based app container rebuilding\n- Postgres db\n- S3 backups\n\nRelated Blogposts:\n- <a href=\'/#/blog/why-do-we-write-functions\' target=\'_blank\'>Why do we write functions</a>',
        images: [
          s3_url('docker.jpg')
        ]
      },
      {
        title: 'Automated Build and Deploy toolchain',
        description: 'I like to wrap deployment pipelines in docker containers. No matter if its a git push to heroku or sftp to shared apache server, I want to have deployments details hidden behind automated scripts.\n\nKey features:\n- Tools and steps of deployment process are containerized making deployment repeatable and reliable.',
        images: [
          s3_url('docker.jpg')
        ]
      }
    ]
  },
].to_json
%>
