.two-cols {
  @extend .clearfix;
   &>.col-one {
    float: left;
    width: 180px;
  }
   &>.col-two {
    margin-left: 180px;
  }
}

.two-cols-narrower {
  @extend .clearfix;
  &>.col-one {
    float: left;
    width: 120px;
  }
  &>.col-two {
    margin-left: 120px;
  }
}