@import 'components/common/common';

.about-me-section {
  @keyframes social-icon-jiggle {
    0%, 100%   { transform: rotate(0deg) }
    25% { transform: rotate(20deg) }
    75% { transform: rotate(-20deg) }
  }

  @extend .odd-section;
  padding: 40px 0;

  &.compact {
    padding: 10px 0;
    background-color: $white;
    border-bottom: 1px solid $gray;

    .avatar {
      width: 40px;
    }

    .text {
      color: $brown;
      text-align: center;
    }

    .social-section {
      margin-top: 5px;
    }

    .social-item {
      color: $brown;
      font-size: 20px;
    }
  }


  .text {
    color: $white;
    text-align: justify;
  }

  .header {
    display: block;
    font-size: 19px;
    margin-bottom: 9px;
  }

  @media screen and (max-width: 690px) {
    .header {
      display: none;
    }
  }

  .social-section {
    margin-top: 22px;
    text-align: center;
  }

  .social-item {
    color: $white;
    font-size: 32px;
    margin-left: 22px;

    // set fontello font
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // -------

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      -webkit-animation: social-icon-jiggle 1s 1;
      -moz-animation:    social-icon-jiggle 1s 1;
      -o-animation:      social-icon-jiggle 1s 1;
      animation:         social-icon-jiggle 1s 1;
    }
  }

  .avatar {
    @include border-radius(75px,75px,75px,75px);
    -webkit-box-shadow: 7px 2px 26px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 2px 26px -4px rgba(0,0,0,0.75);
    box-shadow: 7px 2px 26px -4px rgba(0,0,0,0.75);
  }
}