.progress-bar {
  @include border-radius(5px, 5px, 5px, 5px);
  overflow: hidden;
  width: 400px;
  height: 25px;
  background-color: $gray;
  margin-bottom: 5px;
  .complete {
    display: block;
    height: 100%;
    background-color: $green;
  }
}