@import 'components/common/common';

.blog-section {
  .article {
    padding: 30px 0;
    border-top: 1px solid $light_gray;

    &:first-child {
      border-top: none;
    }
  }

  .article-title {
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    color: $black;
  }

  .article-content {
    line-height: 1.618;
    font-size: 13pt;
    color: $black;
    padding-top: 8px;
  }

  .more {
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: $red;
  }

  .image {
    border: 1px solid $black;
    float: left;
    margin-right: 10px;

    @media screen and (max-width: 425px) {
      display: block;
      float: none;
      margin: 0 auto 10px;
    }
  }
}