@import 'components/common/common';

.work-section {
  @extend .two-cols-section;

  .item {
    margin-bottom: 40px;
  }

  .item-title {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
  }

  .item-date {
    display: inline-block;
    font-size: 13px;
    vertical-align: text-top;
    color: $gray;
  }

  .item-subtitle {
    display: block;
    color: $orange;
    font-size: 14px;
    margin: 3px 0;
  }

  .item-body {
    line-height: 22px;
  }
}
